[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:schlueter/prezto
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
